.danger {
    color: rgb(255, 208, 0);
    font-family: sans-serif;
    font-size: 15px;
}

.dangerClaro {
    color: rgb(255, 208, 0);
    font-family: sans-serif;
    font-size: 15px;
}

.create-activity {
    height: 80%;

    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    color:rgb(255, 255, 255);
    background: rgba(91, 110, 128, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(35, 67, 96, 0.3);
}

.create-activity-claro {
    height: 80%;

    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    color:black;
    background: rgba(154, 169, 190, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(35, 67, 96, 0.3);
}

.error select{
    color: rgb(9, 36, 59);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;

    width: 200px;
    margin: 20px;
    min-height: 35px;
    padding: 0 10px;

    background: rgb(184, 210, 228);
    border-radius: 3px;
    border: 2px solid red;
    cursor: pointer;
}

.error2 {
    color: rgb(9, 36, 59);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;

    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 30px;
    padding: 0 10px;

    background: rgb(184, 210, 228);
    border-radius: 3px;
    border: 2px solid red;
    /* cursor: pointer; */
}

.error3 select{
    color: rgb(9, 36, 59);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;

    width: 360px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 35px;
    padding: 0 10px;

    background: rgb(184, 210, 228);
    border-radius: 3px;
    border: 2px solid red;
    cursor: pointer;
}

.borrar{
    background-color: red;
    border: 0px solid black;
    border-radius: 50000px;
    height: 20px;
    width: 20px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    
    cursor: pointer;
}

.carlit {
    display: inline-block;
    margin: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.paises {
    display: inline-block;
    background-color: rgb(46 46 46);
    width: fit-content;
    padding: 7px;
    border-radius: 15px;
    color: white;
    padding-right: 10px;
    margin: 5px;
}

.paisesClaro {
    display: inline-block;
    background-color: rgba(235, 232, 194);
    width: fit-content;
    padding: 7px;
    border-radius: 15px;
    color: black;
    padding-right: 10px;
    margin: 5px;
}
