.App {
  text-align: center;
}

.general {
  background-image: url('./fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh;
}

.general2 {
  background-image: url('./fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.generalClaro {
  background-image: url('./fondoClaro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh;
}