@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.play {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  opacity: 0.97;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 500px;
  overflow: hidden;
  color: black;
}

.quiz-header {
  padding: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  display: flex;
}

.finish {
    background-color: rgba(21, 50, 78, 0.8);
    color: #fff;
}


#submit {
  background-color: rgba(47, 88, 126, 0.8);
  color: #fff;
  border: none;
  border-radius: 6px;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  text-align: left;
  transition: all ease 0.2s;
}
#submit:hover {
  background-color: rgba(21, 50, 78, 0.8);
  transform: scale(1.1);
}

#submit:focus {
  outline: none;
  background-color: rgba(5, 24, 109, 0.8);
}

.correct {
    background-color: green;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    text-align: left;
}

.incorrect {
    background-color: red;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    text-align: left;
}

.walpaper-changer {
  position: absolute;
  right: 1%;
  top: 1.5%;
  border-radius: 1000px;
  height: 52px;
  width: 52px;
  font-weight: bold;
  cursor: pointer;
}
