.imagen {
    max-width: 90%;
    height: auto;
}

.card {
    margin: 15px;
    width: 18rem;
  }
  
.card-title {
    text-decoration: none;
    color: darkblue;
}
  
.card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;

    background: rgba(255, 255, 255, 0.49);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(13.2px);
    -webkit-backdrop-filter: blur(13.2px);
    border: 2px solid rgb(100, 132, 158);
}

.card-body:hover {
    transform: scale(1.1);
    transition: .2s;
}

.region {
    color: rgb(40, 63, 88)
}