.barra {
    position: fixed;
    height: auto;
    background-color: rgb(62, 83, 129);
    width: 100%;
    z-index: 100;
    display: flex;
    top: 0;
}

.barra1 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.barra2 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.texto{
    text-decoration: none;
    color: white;
}
