.barra1 {
    position: fixed;
    top: 0px;
    z-index: 50;
    
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    background: rgba(35, 67, 96, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(35, 67, 96, 0.3);
}

.barra2 {
    position: fixed;
    top: 0px;
    z-index: 50;
    left: 80px;

    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    background: rgba(35, 67, 96, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(35, 67, 96, 0.3);
}

.texto{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.barra1:hover {
    padding-top: 40px;
}

.barra2:hover {
    padding-top: 40px;
}